* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #0f0e17;
}
.todo-title {
  color: #fffffe;
  font-size: 3rem;
  letter-spacing: 0.25rem;
}
.card-title {
  color: #0f0e17;
}
.checked {
  text-decoration: line-through;
}
.input-style {
  font-weight: bolder;
  color: #0f0e17;
}
